html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 200px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 600px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

#svgContainer {
  width: 300px;
  height: 600px; }

#graphTwo,
#graphThree,
#graphFour,
#graphFive,
#graphSix {
  visibility: hidden; }

.st0 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }

.st2 {
  display: inline;
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
