@import '_settings';
@import '_config';
@import '_mixins';
body {
    margin: 200px;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: $backgroundColor;
    background-size: cover;
    div,
    img {
        position: absolute;
    }
}

#svgContainer {
    width: $width;
    height: $height;
}

#graphTwo,
#graphThree,
#graphFour,
#graphFive,
#graphSix {
    visibility: hidden;
}

.st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st2 {
    display: inline;
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}